
$text-color:#fff;
$back-color:#000000;
$familiaDaFonte:Arial, Helvetica, sans-serif;
$tamanhoFonte:1.5rem;
$estiloBordas:solid 2px #ccc;

.tableStyle{
    border-collapse: collapse;
    border: $estiloBordas;
    background-color: $back-color;
    color: $text-color;
    margin: 0 auto;

    thead{
        background-color: blueviolet;
        th{
            border: $estiloBordas;
        }
    }   

    tbody{
        td{
            border: $estiloBordas;
        }
    }

}

// Add this to your SCSS file
.link-cadastrar {
    display: inline-block;
    padding: 10px 20px;
    background-color: #068606; /* Background color for the link */
    color: #fff; /* Text color for the link */
    text-decoration: none; /* Remove default underline */
    border-radius: 5px; /* Add border radius for rounded corners */
    font-size: 1.5rem;
    margin-top: 10px; /* Add spacing from the content above */
    cursor: pointer;
    transition: background-color 300ms;
  
    &:hover {
      background-color: #044304; /* Change background color on hover */
    }
  }
  